.leggo {
  &-left{
    flex: 1;
    overflow: auto;
    &-form-content{
      margin-right: 40px;
      // border: 1px solid green;
      .item{
        margin: 15px 0;
        padding-top: 10px;
        border: 1px dashed rgba(0, 0, 0, .25);
        &-forbidden{
          pointer-events: none;
        }
        &:hover{
          border-color: #eee;
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
          transition: all .2s ease-in-out;
        }
      }
    }
  }

}
